:root {
    --primary-color-white: white;
    --primary-color-grey: #E4E4E4;
    --background-color: #161926;

    .light {
        --primary-color: #262A3F;
        --secondary-color-blue: #85BBB1;
        --button-color: #F1897B;
    } 

    .dark {
        --primary-color: white;
        --secondary-color-blue: #689FF2;
        --button-color: #53F3CD;
        --hr-color: #515773;
    }

    --primary-font-size: 18px;
    --heading-1-font-size: 68px;
    --heading-2-font-size: 44px;
    --heading-3-font-size: 40px;
    --heading-4-font-size: 24px;
    --heading-5-font-size: 20px;
    --heading-6-font-size: 12px;
    --button-font-size: 20px;
    --additional-font-size: 14px;
    --slide-font-size: 16px;

    --primary-line-height: 26px;
    --heading-1-line-height: 72px;
    --heading-2-line-height: 52px;
    --heading-3-line-height: 48px;
    --heading-4-line-height: 48px;
    --heading-5-line-height: 20px;
    --heading-6-line-height: 2;
    --button-line-height: 20px;
    --additional-line-height: 24px;
    --slide-line-height: 26px;

    --phone-width: 320px;
    --tablet-width: 768px;
    --desktop-width: 1440px;
}

$primary-color: var(--primary-color, #262A3F);
$primary-color-white: var(--primary-color-white, white);
$primary-color-gray: var(--primary-color-grey, #E4E4E4);
$secondary-color-blue: var(--secondary-color-blue, #85BBB1);
$button-color: var(--button-color, #F1897B);
$background-color: var(--background-color, #161926);
$hr-color: var(--hr-color, #515773);

$primary-font-size: var(--primary-font-size, 18px);
$heading-1-font-size: var(--heading-1-font-size, 68px);
$heading-2-font-size: var(--heading-2-font-size, 44px);
$heading-3-font-size: var(--heading-3-font-size, 40px);
$heading-4-font-size: var(--heading-4-font-size, 24px);
$heading-5-font-size: var(--heading-5-font-size, 20px);
$heading-6-font-size: var(--heading-6-font-size, 12px);
$button-font-size: var(--button-font-size, 20px);
$additional-font-size: var(--additional-font-size, 14px);
$slide-font-size: var(--slide-font-size, 16px);

$primary-line-height: var(--primary-line-height, 26px);
$heading-1-line-height: var(--heading-1-line-height, 72px);
$heading-2-line-height: var(--heading-2-line-height, 52px);
$heading-3-line-height: var(--heading-3-line-height, 48px);
$heading-4-line-height: var(--heading-4-line-height, 48px);
$heading-5-line-height: var(--heading-5-line-height, 20px);
$heading-6-line-height: var(--heading-6-line-height, 2);
$button-line-height: var(--button-line-height, 20px);
$additional-line-height: var(--additional-line-height, 24px);
$slide-line-height: var(--slide-line-height, 26px);

$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1440px;